* {
    margin: 0;
    padding: 0;
}
body {
    background: #beb8b8;
}

header {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.wen {
    text-align: center;
    margin: 20px 0;
}
.button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}